{%extends "base.html"%}
{%block title%}Asistencia de Hoy {%endblock title%}
{%block head%}
{{super()}}
{%endblock head%}
{% block content %}

<body>
<h1>Asistencias de Hoy</h1>
<form action="/cargarAsistenciaHoy.html" method="POST" >
    <input type="text" name="id_estudiante" placeholder="id_estudiante">
    <input type="text" name="taller" placeholder="taller">
    <input type="text" name="ciclo" placeholder="ciclo">
    <button type="submit">Aceptar</button> 
</form>


</body>
{% endblock content %}